* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.window {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.modal {
    width: 100%;
    max-width: 875px;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.1), 0px 1px 6.86px 0.14px rgba(0, 0, 0, 0.04);
    position: relative;
    &-detail {
        border-bottom: 1px solid #ebebeb;
    }
    &-photo {
        width: 285px;
        position: relative;
        padding: 8px 10px 10px 15px;
        border-top-left-radius: 3px;
        position: relative;
        cursor: pointer;
        &:hover{
            &::before{
                opacity: 1;
            }
        }
        &::before{
            content: '';
            display: block;
            position: absolute;
            top:0;
            left:0;
            width: 100%;
            height:100%;
            z-index: 1;
            opacity: 0;
            transition: opacity .3s;
            background-color: rgba(255,255,255,.3);
        }
        &__img {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 0;
            top: 0;
            left: 0;
            border-top-left-radius: 3px;
        }
        &__title {
            font: 700 24px 'Roboto';
            color: #fff;
            position: relative;
            z-index: 1;
        }
        &__desc {
            font: 500 18px 'Roboto';
            color: #fff;
            position: relative;
            z-index: 1;
        }
        &__label {
            background-color: #fab91c;
            padding: 6px 0 8px 0;
            font: 700 16px 'Roboto';
            color: #fff;
            max-width: 148px;
            text-align: center;
            border-radius: 3px;
            position: relative;
            left: -20px;
            z-index: 1;
            margin-top: 5px;
        }
        &__icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            z-index: 1;
            align-items: center;
        }
    }
    &-info {
        flex:1;
        padding-bottom:21px;
        &__box{
            padding: 18px 21px 0 19px;
        }
        &__title {
            font: 700 16px 'Raleway';
            color: #333;
            margin-bottom: 10px;
        }
        &__wrap {
            max-width: 347px;
            padding-bottom: 15px;
            &:not(:last-child) {
                margin-bottom: 10px;
                border-bottom: 1px solid #ebebeb;
            }
        }
        &__item {
            width: 50%;
            align-items: center;
            &:not(:nth-last-child(-n+2)) {
                margin-bottom: 15px;
            }
        }
        &__block {
            justify-content: space-between;
        }
        &__desc {
            flex: 1;
            font:14px 'Raleway';
            color: #333;
        }
        &__icon {
            padding-right: 45px;
        }
    }
    &-rates {
        padding: 15px 15px 30px 15px;
        &__tax {
            font: 12px 'Raleway';
            color: #333;
            margin-bottom: 10px;
        }
        &__block {
            padding: 16px 15px 34px 12px;
            border-radius: 5px;
            justify-content: space-between;
            position: relative;
            overflow: hidden;
            border:1px solid #e8e8e8;
            &.pool{
                background-color: #eaf3fc;
                border:none;
            }
            &:not(:last-child){
                margin-bottom:10px;
            }
        }
        &__pool {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
        }
        &__pay {
            width: 25%;
        }
        &__option {
            width: 20%;
        }
        &__price {
            width: 20%;
        }
        &__book {
            background-color: #42be56;
            color: #fff;
            width: 154px;
            height: 40px;
            font: 500 14px 'Roboto';
            text-transform: uppercase;
            border-radius: 3px;
            margin-top: 30px;
            cursor: pointer;
            transition: background-color .3s, transform .1s;
            &:hover{
                background-color: #3587e0;
            }
            &.down{
                transform: scale(0.9);
            }
        }
        &__wrap{
            margin-bottom:30px;
        }
    }
}

.photo {
    &__count {
        font: 500 14px 'Raleway';
        margin-right: 5px;
        color: #fff;
    }
}

.more-btn {
    color: #3587e0;
    font: 700 16px 'Roboto';
    margin: 0 auto;
    display: block;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    &::after {
        content: '';
        display: block;
        background-color: #3587e0;
        height: 2px;
        width: 100%;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .3s;
    }
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
}

.pay {
    &__cancellation {
        align-items: center;
        margin-bottom: 10px;
        p {
            font: 500 14px 'Raleway';
            color: #42be56;
            margin: 0 10px;
        }
        i {
            color: #3587e0;
            cursor: pointer;
        }
    }
    &__list {
        list-style: disc;
        padding-left: 35px;
        li {
            font: 12px 'Raleway';
            color: #333333;
            i {
                color: #3587e0;
                margin-left: 10px;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

.rates {
    &-option {
        &__block {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
            .icon {
                padding-right: 35px;
            }
            i {
                margin-left: 10px;
                color: #3587e0;
                cursor: pointer;
            }
            span{
                color: #333;
                font:12px 'Raleway';
            }
        }
    }
    &-price {
        &__new {
            font: 36px 'Roboto';
            color: #333;
            span {
                font-size: 24px;
            }
        }
        &__old {
            font: 200 24px 'Roboto';
            color: #ababab;
            text-decoration: line-through;
            span {
                font-size: 18px;
            }
        }
        &__night {
            font: 14px 'Roboto';
            color: #333;
            &.best {
                font-weight: 500;
                color: #42be56;
            }
        }
    }
    &-pool{
        &::after{
            content: '';
            display: block;
            width: 100%;
            height:3px;
            background-color: #3587e0;
            position: absolute;
            bottom: 0;
            left:0;
        }
        &__block{
            background-color: #3587e0;
            border-top-right-radius: 5px;
            border-bottom-left-radius: 5px;
            height:33px;
            padding: 0 20px 0 10px;
            align-items: center;
            img{
                margin-right:5px;
            }
        }
        &__text{
            font:600 12px 'Raleway';
            color: #fff;
        }
    }
}


