@media screen and (max-width: 780px){
    .window{
        padding:10px;
    }
    .modal{
        &-rates{
            &__pay,&__option,&__price{
                width: 50%;
            }
            &__block{
                justify-content: flex-start;
            }
        }
    }
}
@media screen and (max-width: 600px){
    .modal{
        &-detail{
            flex-direction: column;
            &__photo{
                height:300px;
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 400px){
    .modal{
        &-info{
            &__item{
                width: 100%;
                &:not(:last-child){
                    margin-bottom:15px;
                }
            }
        }
        &-rates{
            &__pay,&__option,&__price{
                width: 100%;
                margin-bottom:15px;
            }
            &__book{
                margin-top:0;
            }
            &__block{
                padding-bottom:15px;
                &.pool{
                    padding-bottom:40px;
                }
            }
        }
    }
}