.icon{ display: inline-block; background: url('../img/sprite.png') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }

.bed { background-position: -0px -0px; width: 26px; height: 17px; }
.check { background-position: -0px -17px; width: 25px; height: 25px; }
.square { background-position: -0px -42px; width: 25px; height: 25px; }
.wi-fi-black { background-position: -0px -67px; width: 25px; height: 18px; }
.wi-fi-blue { background-position: -0px -85px; width: 25px; height: 18px; }
.wi-fi-green { background-position: -0px -103px; width: 25px; height: 18px; }
.all-included { background-position: -0px -121px; width: 24px; height: 23px; }
.bed2 { background-position: -0px -144px; width: 24px; height: 17px; }
.conditioning { background-position: -0px -161px; width: 24px; height: 17px; }
.cup { background-position: -0px -178px; width: 24px; height: 13px; }
.safe { background-position: -0px -191px; width: 24px; height: 19px; }
.smoking { background-position: -0px -210px; width: 24px; height: 17px; }
.shower { background-position: -0px -227px; width: 20px; height: 24px; }
.adults { background-position: -0px -251px; width: 17px; height: 23px; }